# Git ignore of ThermoPIC Project
# See repository at https://github.com/melvinmajor/thermopic
# ==========================================================

# Files and folders of IDE and any workspace
.idea/
*.iml
.workspace

# Fix Maxime not understanding what lowerCase directory names does mean
Eagle/*
Proteus/*

# Temporary files from Eagle
eagle/*.b#*
eagle/*.s#*
eagle/*.job
eagle/*.pro

# Other files
.classpath
.metadata/
.settings/
.project

# Documents and useless files
thumbs.db
*.DS_Store
