# Git ignore of ThermoPIC Project
# See repository at https://github.com/melvinmajor/thermopic
# ==========================================================

# Files and folders of IDE and any workspace
.idea/
*.iml
.workspace

# Other files
.classpath
.metadata/
.settings/
.project

# Documents and useless files
thumbs.db
*.DS_Store
